.Hero {

    &Default,
    &Rooms,
    &Single {
        & .heroContent {
            height: 30rem;
            position: relative;

            @media screen and (min-width: 320px) and (max-width: 415px) {
                height: 20rem;
            }

            & img {
                width: 100%;
                height: 100%;
            }
        }
    }
}